body {
    font-family: "Your New Font", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
    font-weight: 400;
    min-width: 320px;
    padding: 10px; /* Adjust the padding as needed */
    margin: 0;
}

.icon {
    max-width: 30px;
}
